# Ignore compressed_models and models directories
compressed_models/
models/
results/
wandb/
model/

# Ignore .env file
.env

#Ignore Metaflow Outputs
.metaflow/

#Ignore virtual environment
venv/

#Other stuff
__pycache__/
.DS_store
